*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    background-image: url('../images/banner/banner1.png');
    height: 750px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-content{
    width: 500px;
    text-align: right;
   padding-top: 300px;
   margin-left: 50%;
}
.banner-content button{
    background-color: orange;
    border: 0;
    padding: 10px 20px;
    color: white;
    font-size: 15px;
    margin-top: 10px;
}
.history {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;

}
.history {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;

}

.history-content {
    width: 500px;
    padding-left: 100px;
}

.history h1{
    font-size: 50px;
}

.history-content ul {
    margin-top: 20px;
}